h1 {
    text-align: center; color: darkgoldenrod;
}

body { background: antiquewhite;
    
    
}
figure { border: 1px black soli d; width: 900px; margin: 0 auto; }
img {  ;
    
}
figcaption {
    text-align: center;
}
section {
    text-align: center;
}
ul
{
  list-style-type: none;
}